/*https://colorscheme.ru/#0C32nw0w0w0w0
https://colorscheme.ru/#0J32nw0w0w0w0
/*@import "bootstrap/bootstrap.less";*/
@import "variables.css";

@grid-columns: 24;

*{
	margin: 0;
	padding: 0;
}
p {
	margin: 20px 0;
}

.form-control {
	box-shadow: none;
}

/*.btn {
	font-family: @brand-font;
}*/

.my_btn {
position: relative;
right: 0;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

body {
	border-top: 5px solid #7e7e7e;
/*	background-image: url(../images/background/Grunge-Seamless-Pattern-For-Website-Background.jpg);
*/
	background: url(../images/background/tuman.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body 	.wrapper {
		padding: 0 0 50px 0;
		min-width: 1024px;
		max-width: 1200px;
}

header {
		padding: 0px 0;
		margib: 0 0;
		/*height: 600px;*/
		width: 100%;
		/*background-color: /*#FFAE40 *//*#b77215;*/
		/*background: url(../images/headerofooter.png);*/
		/*border-bottom: 5px solid #67E300;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;*/
}

header img {
	width: 100%;
}

header .form-search {
				width: 200px;
}

footer {
	/*background-color: #8770a2/*#5d5d5d*//*;*/
	/*height: 60px;*/
	width: 100%;
	/*margin: 20px auto 0px;*/
	/*border-radius: 4px 4px 0px 0px;*/

}

footer img {
	width: 100%;
}

.content {
	margin-top: 20px;
	min-height: calc(100vh - 70px - 60px - 40px);
	padding:0px;
}

.content .part {
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 20px;
	padding:10px;
}



.news-cover_photo {
	float: left;
	width: 40%;
}

.news-cover_photo img {
	width: 100%;
}

.cover_photo {
	width: 40%;
}

.news_text_part {
	width: 59%;
	float: right;
}
.news_part {
	display: table;
	width: 100%;
	height: auto;
	padding: 5px 0px 5px 0px;
}

table .cover_img{
  table-layout:auto;
}

/*.news_more_link a:link a:visited a:hover a:active{
	color: grey;
}*/

.news_more_link {
	color: grey;
}
