@brand-font: 'Oswald',sans-serif;
/*серый фон страницы*/
@body-bg: #f8f8f8;
/*специфический голубой фон данного дизайна*/
@brand-primary: #29c5e6; 
/*фон панелей*/
@panel-bg: #f3f3f3;
/*цвет рамки панелей*/
@panel-inner-border: #e7e7e7;
/*убираем скругление у блоков*/
@border-radius-base: 0;
/*первичные кнопки имеют голубой фон*/
@btn-primary-bg: @brand-primary;
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
@container-md: 960px;
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
@container-lg: @container-md;
/*основным шрифтом будет Tahoma*/
@font-family-base: Tahoma, sans-serif;
/*задаем базовый размер*/
@font-size-base: 12px;
/*основной цвет текста на странице*/
@text-color: #8f8f8f;
/*серый фон текстовых полей*/
@input-bg: @panel-bg;
/*серая рамка текстовых полей*/
@input-border: @panel-inner-border;
/*серый цвет текста в полях*/
@input-color: #b2b2b2;
